.dashProfile__card {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #FFFFFF;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 10px;
  padding: 24px;
}

.dashProfile__cardImg {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}